// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

/* Divs that hold the Divs of piles */

.piles_container {
  height:200px;
  width:75vw;
  margin: auto;
  color: #f6f6f6;
}

.piles {
  padding: 10px;
  height:200px;
  width:90%;
  background:#c43939;
  margin: auto;
  border-radius: 25px;
  vertical-align: middle;
  text-align: center;
  overflow-x: auto;
  overflow-y: hidden;
}

.pile {
  display: inline-block;
  width: 125px;
  height: 250px;
  background-size: contain;
  margin: auto;
  border-radius: 10px;
  float: left;
  padding-right: 10px;
  z-index: 999;
}


/* Dropdown Button */
.dropbtn {
  background-color: #696969;
  color: white;
  width: 30px;
  height: 30px;
  font-size: 20px;
  border: none;
}

.dropdown-submenu {
  position: relative;
}

.dropdown-submenu a:hover{background-color: #dddddd}

.dropdown-submenu .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -1px;
}


/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}

ul {
  padding: 0;
  margin: 0;
}

li {
  display: inline;
  position: relative;
  z-index: 999;
}

ul ul {
  position: absolute;
  display: none;
}

li:hover ul {
  display: block;
}
